@model IEnumerable<HtmlTableWeb.Dto.CustomerDto>
@{
    ViewBag.Title = "Home Page";
    var htmlAttributes = new Dictionary<string, object>
    {
        ["id"] ="customersContainer",
        ["class"] ="table table-stripped"
    };
}

<div class="jumbotron">
    @Html.Table(rows: Model, id: "customersCollection", @class: "table table-hover", htmlAttributes: htmlAttributes)
</div>